*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav{
    width: 82%;
    margin: 50px auto;
  }
  
  .nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  
  .nav_logo{
    color: white;
    font-family: t1;
    font-size: 14px;
  }
  
  .nav_logo span{
    color: #01d28e;
  }
  
  .nav_links{
    display: flex;
    gap: 45px;
  }
  .nav_links a{
    color: white;
    font-family: t5;
    font-size: 14px;
    text-decoration: none;
    transition: .2s ease-in-out;
  }
  .nav_links a:hover{
    color: #08cc8f;
  }
  .first_image{
    background-image: url("../image/bg_3.jpg");
    background-size: cover;
    width: 100%;
    height: 110vh;
    background-attachment: fixed;
    align-items: center;
    padding-bottom: 200px;
  }
  .first_image img{
    width: 100%;
  }
  .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.295);
  }
  .first_image_text{
    text-align: center;
    color: white;
    width: 57%;
    margin-top: 30%;
    padding-right: 300px;
  }
  .first_image_text h1{
    font-family: t2;
    font-size: 45px;
    margin-bottom: 12px;
  }
  
  .first_image_text p{
    font-family: t5;
    font-size: 18px;
  }
  .hloopp{
    display: flex;
}
.j11{
    padding-bottom: 6px;
    padding: 20px 20px 20px 20px;
    padding-bottom: 20px;
    input{
       padding-bottom: 1px;
       padding: 20px 20px 20px 20px;
       padding-right: 220px;
    }
}
.nooll{
    margin-top: 70px;
    button{
      padding: 15px 15px 15px 15px;
      margin-left: 20px;
      background-color: #1089ff;
      color: white;
    }
}
.backgrund{
 background-color: aliceblue;
  margin-top: 2px;
  width: 70%;
  padding-left: 50px;
  p{
    padding-top: 10px;
    text-transform: uppercase;
  }
  h3{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
.backgrundd{
  background-color: whitesmoke;
  height: 140px;
  margin-top: 2px;
  width: 70%;
  padding-left: 50px;
  p{
    padding-top: 10px;
    text-transform: uppercase;
  }
  h3{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
.backgrunddd{
  background-color: aliceblue;
  height: 140px;
   margin-top: 2px;
   width: 70%;
   padding-left: 50px;
   p{
    padding-top: 10px;
    text-transform: uppercase;
  }
   h3{
    padding-top: 10px;
    padding-bottom: 20px;
  }
 }
.vloopp {
  background-color: #ffffff;
    width: 44.5vw;
    margin: 0% 61.6667px;
    padding: 0, 15px;
    margin-top: 70px;
    padding-left: 80px;
}
.j111{
    padding-bottom: 6px;
    padding: 20px 20px 20px 20px;
    padding-bottom: 20px;
    input{
       padding-bottom: 9px;
       padding: 20px 20px 20px 20px;
       padding-bottom: 150px;
       padding-right: 220px;
    }  
}
.backgrund-coll{
  background-color: #e8eaed;
  height: 400px;
  width: 80%;
  margin-left: 120px;
  margin-bottom: 90px;
}
.backgrunnd{
  padding-top: 180px;
  text-align: center;
}
footer{
  width: 100%;
  background-color:black;
  position: absolute;
}

.footer{
  width: 83.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  margin-bottom: 70px;
}

.footer_right{
  display: flex;
  width: 68%;
  justify-content: space-between;
}

.footer_content{
  width: 22%;
}

.footer_tent{
  width: 30%;
}

.locate p{
  color: #c8c8c8;
  font-family: t5;
  font-size: 16px;
}

.footer_logo{
  color: white;
  font-family: t1;
  font-size: 10px;
}

.footer_logo span{
  color: #01d28e;
}

footer p{
  color: #b3b3b3;
  font-family: t6;
  font-size: 16px;
  line-height: 30px;
}

.fca{
  margin-top: 40px;
  margin-bottom: 70px;
  font-family: t5;
}

.footer h2{
  color: white;
  font-family: t5;
  font-size: 20px;
  letter-spacing:1px;
  margin-bottom: 40px;
}

.footer li{
  color: #c8c8c8;
  font-family: t5;
  font-size: 16px;
  margin-bottom: 16px;
  list-style: none;
  cursor: pointer;
}

.ficon{
  color: white  ;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  padding-top: 14px;
}

.little p{
  color: #fcfcfc;
  font-family: t5;
  font-size: 16px;
}

.social_pages{
  display: flex;
  justify-content: space-between;
  width:180px;
  align-items: center;
}

.ai{
  background-color: #0d0d0d; 
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer_bottom p{
  text-align: center;
  margin-bottom: 130px;
  color: #c8c8c8;
  font-family: t5;
  font-size: 16px;
}
